.row
    header
        .col-lg-3.col-md-2.col-sm-3.col-xs-3.logo
            img(src='img/logo.jpg' class="img-responsive")
        .col-lg-6.col-md-7.col-sm-9.col-xs-9.header_text
            .text1 Психолог, Онлайн консультування
            br
            .text2 Крамарюк Тетяна Георгіївна
            br
            .text3 м.Чернівці, вул. Гайдара 1E
        .col-lg-3.col-md-3.col-sm-12.col-xs-12.header_info
            .phone
                span.glyphicon.glyphicon-earphone (095) 165 34 04
            .mail
                span.glyphicon.glyphicon-envelope
                    a(href) t.kramariuk@gmail.com


