.row
    nav
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .navigation
                ul.nav.nav-pills
                    li(role='presentation')
                        a(href='#') Главная
                    li(role='presentation')
                        a(href='#') О терапии
                    li(role='presentation')
                        a(href='#') Блог
                    li(role='presentation')
                        a(href='#') Сертификаты
                    li(role='presentation')
                        a(href='#') Контакты
//.row
    .hidden-lg.hidden-md.hidden-sm.col-xs-12
        .container
            .row
                button.btn.btn-default.dropdown-toggle.hidden-menu(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Меню
                ul.dropdown-menu
                    li(role='presentation')
                        a(href='#') Главная
                    li(role='presentation')
                        a(href='#') О терапии
                    li(role='presentation')
                        a(href='#') Блог
                    li(role='presentation')
                        a(href='#') Сертификаты
                    li(role='presentation')
                        a(href='#') Контакты




