.row
    nav
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .navigation
                ul.nav.nav-pills
                    li(role='presentation')
                        a(href='#') Головна
                    li(role='presentation')
                        a(href='#') Моя кваліфікація
                    li(role='presentation')
                        a(href='#') Послуги
                    li(role='presentation')
                        a(href='#') Вартість
                    li(role='presentation')
                        a(href='#') Блог
                    li(role='presentation')
                        a(href='#') Відгуки
                    li(role='presentation')
                        a(href='#') Новини





