nav
    .row
        .col-lg-12.col-md-12
            ul.nav.nav-pills
                li(role='presentation' class='active')
                    a(href='#') Главная
                li(role='presentation')
                    a(href='#') О терапии
                li(role='presentation')
                    a(href='#') Блог
                li(role='presentation')
                    a(href='#') Сертификаты
                li(role='presentation')
                    a(href='#') Контакты



