h2 Услуги
    .row
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
            img(src='http://dummyimage.com/300x200/000/fff')
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
            img(src='http://dummyimage.com/300x200/000/fff')
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
            img(src='http://dummyimage.com/300x200/000/fff')