.row
    h2.col-lg-12 В яких випадках я буду корисна для Вас:

.row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .row
            .services
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    img(src='http://dummyimage.com/300x200/000/fff' class="img-responsive")
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    img(src='http://dummyimage.com/300x200/000/fff' class="img-responsive")
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    img(src='http://dummyimage.com/300x200/000/fff' class="img-responsive")


.row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .row
            .services
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    img(src='http://dummyimage.com/300x200/000/fff' class="img-responsive")
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    img(src='http://dummyimage.com/300x200/000/fff' class="img-responsive")
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    img(src='http://dummyimage.com/300x200/000/fff' class="img-responsive")