.row
    h2.col-lg-12 В яких випадках я буду корисна для Вас:

.row
    .services1
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
            img(src='http://dummyimage.com/300x200/000/fff' class="img-responsive")
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
            img(src='http://dummyimage.com/300x200/000/fff' class="img-responsive")
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
            img(src='http://dummyimage.com/300x200/000/fff' class="img-responsive")
.row
    .services2
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
            img(src='http://dummyimage.com/300x200/000/fff' class="img-responsive")
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
            img(src='http://dummyimage.com/300x200/000/fff' class="img-responsive")
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
            img(src='http://dummyimage.com/300x200/000/fff' class="img-responsive")