.row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .video.embed-responsive.embed-responsive-16by9
            iframe(src='https://www.youtube.com/embed/T-XxSrtvV_I', frameborder='', allowfullscreen='' class='embed-responsive-item')