doctype html
html(lang='ru')
    head
        block title
            title Psychology-Site
            meta(charset='utf-8')
            meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        block styles
            link(href='libraries/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
            link(href='libraries/owl-carousel/owl-carousel/owl.carousel.css' rel='stylesheet')
            link(href='libraries/owl-carousel/owl-carousel/owl.theme.css' rel='stylesheet')
            link(href='libraries/owl-carousel/owl-carousel/owl.transitions.css' rel='stylesheet')
            link(href='css/style.css' rel='stylesheet')

    body
        block content
        script(src='js/app.min.js')
        script(src='libraries/jquery/dist/jquery.js')
        script(src='libraries/bootstrap/dist/js/bootstrap.min.js')
        script(src='libraries/owl-carousel/owl-carousel/owl.carousel.min.js')



