extends layouts/main
block content
    .container
        include  include/header
        include  include/nav
        include  include/slider
        include  include/section-services1
        include  include/section-info2
        include  include/section-prices3
    include  include/footer

