footer {
  background-color: black;
  height: 85px;
  .container {
    .row {
      .footer-right {
        text-align: right;
      }
      @media screen and (max-width: 768px) {
        .footer-right {
          text-align: left;
        }
      }
    }
  }

}