header {
  .row {
    .logo {
      img {
        width: 172px;
        height: 172px;
      }
    }
    .header_text {
      background-color: black;
      height: 172px;
    }
    .header_info {
      background-color: green;
      height: 172px;
    }
  }
}
